<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6">
                <nb-icon class="action-icon" icon="settings-2-outline"></nb-icon> Harita
            </div>
            <div class="col-md-6">
                <button class="round" (click)="openWindowForm()" nbButton status="success">İşlemler</button>
            </div>

        </div>
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>