<nb-card class="dialog">
    <nb-card-header class="header">
        <nb-icon class="action-icon" icon="settings-2-outline"></nb-icon> {{ title }}
    </nb-card-header>
    <nb-card-body>
        <form class="form" [formGroup]="schoolForm">
            <nb-tabset class="tabset">
                <nb-tab tabTitle="Okul" class="tabTitle">
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Okul Adı* :</label>
                        <div class="col-md-9">
                            <input type="name " nbInput fullWidth placeholder="Okul Adı" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="label col-md-3 col-form-label ">Adresi* :</label>
                        <div class="col-md-9 ">
                            <textarea type="address " nbInput fullWidth placeholder="Adres" formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label col-form-label">Konumu :</label>
                        </div>
                        <div class="col-md-4">
                            <input type="number" nbInput fullWidth placeholder="Latitude" formControlName="latitude">
                        </div>
                        <div stlye="floar:right" class="col-md-5 ">
                            <input type="number" nbInput fullWidth placeholder="Longitude" formControlName="longitude">
                        </div>
                    </div>
                </nb-tab>
            </nb-tabset>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div style="float:right">
            <button (click)="save()" style="margin-right:15px;text-transform: none;" nbButton size="medium" shape="semi-round">Kaydet</button>
            <button (click)="close()" style="text-transform: none;" nbButton size="medium" shape="semi-round">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>