<div class="row">
    <div class="col-md-6 newSchoolButtons">
        <button class="newSchool" (click)="newSchool()" nbButton nbButton size="medium" shape="semi-round"><nb-icon class="icon"
                icon="plus-outline"></nb-icon>Yeni Okul</button>
    </div>
    <div class="col-md-6">
        <button class="edit" (click)="editSchool()" nbButton nbButton size="medium" shape="semi-round"><nb-icon class="icon"
                icon="edit-outline"></nb-icon>Düzenle</button>
    </div>
</div>
<div class="col-md-12">
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
</div>