<nb-card class="dialog">
    <nb-card-header class="header">
        <nb-icon class="action-icon" icon="settings-2-outline"></nb-icon> {{ title }}
    </nb-card-header>
    <nb-card-body>
        <form class="form" [formGroup]="studentForm">
            <nb-tabset class="tabset">
                <nb-tab tabTitle="Öğrenci" class="tabTitle">
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Öğrenci Adı* :</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Öğrenci Adı" formControlName="studentName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Öğrenci Kodu* :</label>
                        <div class="col-md-8">
                            <input type="text" style="color:#1a2138" [value]="selectedStudentCode" [disabled]="true" nbInput fullWidth placeholder="Öğrenci Kodu">
                        </div>
                        <div class="col-md-1" style="padding-left:0vh;padding-top:1.5vh">
                            <nb-action (click)="makeid(6,student)" icon="sync-outline">
                            </nb-action>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Öğrenci Adresi* :</label>
                        <div class="col-md-9">
                            <textarea type="address " nbInput fullWidth placeholder="Adres" formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Okulu* :</label>
                        <div class="col-md-9">
                            <nb-select class="select" placeholder="Okul Seçiniz" [formControl]="selectedSchool">
                                <nb-option *ngFor="let school of schools" [value]="school.id">{{ school.name }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Servis Aracı* :</label>
                        <div class="col-md-9">
                            <nb-select class="select" placeholder="Servis Aracı Seçiniz" [formControl]="selectedShuttle">
                                <nb-option *ngFor="let shuttle of shuttles" [value]="shuttle.id">{{ shuttle.name }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label col-form-label">Konumu :</label>
                        </div>
                        <div class="col-md-4">
                            <input type="number" nbInput fullWidth placeholder="Latitude" formControlName="studentLatitude">
                        </div>
                        <div stlye="floar:right" class="col-md-5 ">
                            <input type="number" nbInput fullWidth placeholder="Longitude" formControlName="studentLongitude">
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Veli" class="tabTitle">
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Veli Adı :</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth placeholder="Veli Adı" formControlName="parentName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Veli Telefon No :</label>
                        <div class="col-md-9">
                            <input nbInput fullWidth [textMask]="{mask: mask}" formControlName="parentPhone" placeholder="(555) 555-19-07" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Veli Kodu* :</label>
                        <div class="col-md-8">
                            <input type="text" style="color:#1a2138" [value]="selectedParentCode" [disabled]="true" nbInput fullWidth placeholder="Veli Kodu">
                        </div>
                        <div class="col-md-1" style="padding-left:0vh;padding-top:1.5vh">
                            <nb-action (click)="makeid(6,parent)" icon="sync-outline">
                            </nb-action>
                        </div>
                    </div>
                </nb-tab>
            </nb-tabset>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div style="float:right">
            <button (click)="save()" style="margin-right:15px;text-transform: none;" nbButton size="medium" shape="semi-round">Kaydet</button>
            <button (click)="close()" style="text-transform: none;" nbButton size="medium" shape="semi-round">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>