<nb-card *ngIf="title=='Okul adı'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen okul adı giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Okul adresi'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen okul adresi giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Okul konumu'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen okul konumu giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>