<h1 id="title" class="title">iOkul Öğrenci Servisi</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<div [formGroup]="loginForm" aria-labelledby="title">
    <div class="form-control-group">
        <label for="input-email">Email address:</label>
        <input nbInput fullWidth id="input-email" formControlName="email" [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''" [attr.aria-invalid]="email.invalid && email.touched ? true : null" placeholder="Email address">

    </div>

    <div class="form-control-group">
        <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
    </span>
        <input nbInput fullWidth id="input-password" formControlName="password" type="password" [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" placeholder="Password">
        <ngx-validation-message label="Password" [showMinLength]="password?.hasError('minlength') && password.touched" [showMaxLength]="password?.hasError('maxlength') && password.touched" [showRequired]="password?.errors?.required && password.touched" [minLength]="minLength"
            [maxLength]="maxLength"></ngx-validation-message>
    </div>

    <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
    </div>

    <button nbButton fullWidth status="primary" size="large" (click)="login()" [class.btn-pulse]="submitted">
    Log In
  </button>
</div>