@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    .menu-sidebar ::ng-deep .scrollable {
        padding-top: nb-theme(layout-padding-top);
    }
}

/deep/ {
    nb-menu {
        .menu-items>.menu-item {
            border: none;
        }
        .menu-title {
            font-family: Exo;
            font-size: .875rem;
            font-weight: 500;
        }
    }
    .nb-theme-default nb-menu .menu-group,
    .nb-theme-default nb-menu .menu-group nb-icon.menu-icon {
        font-weight: 500;
        font-size: .875rem;
        color: #a4abb3;
        font-family: Exo;
    }
    .nb-theme-default nb-sidebar .scrollable {
        padding: 1rem !important;
        position: relative !important;
    }
    .nb-theme-default nb-layout .layout {
        font-size: .875rem !important;
        line-height: 0.25 !important;
        color: #2a2a2a !important;
    }
    .nb-theme-default nb-sidebar {
        width: 13rem;
    }
    .nb-theme-default nb-sidebar .main-container {
        width: 13rem;
    }
    .nb-theme-default nb-menu .menu-item a {
        color: inherit;
    }
    .nb-theme-default nb-menu .menu-item .menu-icon {
        color: inherit;
    }
}