<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6">
                <nb-icon class="action-icon" icon="settings-outline"></nb-icon> Öğrenciler
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <student-report-table></student-report-table>
    </nb-card-body>
</nb-card>