@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@include nb-install-component() {
    .edit {
        float: right;
        border-color: #3366ff;
        background-color: #3366ff;
        text-transform: none;
        padding: 9px;
    }
    .newShuttle {
        border-color: #3366ff;
        background-color: #3366ff;
        text-transform: none;
        padding: 9px;
    }
    .newShuttleButtons {
        padding-bottom: 15px;
    }
}

/deep/ {
    .icon {
        color: #ffffff;
        margin-right: 0.10rem !important;
    }
    .nb-theme-default ng2-smart-table tbody tr:hover {
        cursor: pointer;
    }
    .nb-theme-default ng2-smart-table tbody tr.selected {
        background: #afe7f9 !important;
    }
    .ng2-smart-title {
        display: none;
    }
    .cdk-global-scrollblock {
        overflow: hidden;
    }
}