<nb-card *ngIf="title=='Öğrenci adı'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen öğrenci adı giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Öğrenci kodu'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen öğrenci kodu giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Adres'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen adres giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Veli kodu'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen veli kodu giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Okul adı'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen okul adı seçiniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Servis'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen servis seçiniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>