<div class="window">
    <form class="form">
        <nb-tabset class="tabset">
            <nb-tab tabTitle="Bilgiler" class="tabTitle">
                <div class="form-group">
                    <div class="col-md-4 " for="subject ">Harita :</div>
                    <div class="col-md-8 ">
                        <input nbInput class="input" id="subject " type="text ">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4" for="subject ">Servisçiler Listesi :</div>
                    <div class="col-md-8">
                        <input nbInput class="input" id="subject " type="text ">
                    </div>
                </div>
            </nb-tab>
        </nb-tabset>
    </form>
</div>