@import '../../../@theme/styles/themes';
@include nb-install-component() {
    .window {
        width: 80vh;
        height: 40vh;
        text-align: center;
    }
    .form {
        width: 100%;
    }
    .tabset {
        width: 100%;
        height: 100%
    }
    .tabTitle {
        width: 100%;
        text-align: left;
    }
    .col-md-4 {
        float: left;
        margin-left: -35px;
    }
    .col-md-8 {
        float: right;
        margin-left: 35px
    }
    .input {
        width: 100%;
    }
    .form-group {
        padding-top: 20px;
    }
}

/deep/ .tab-text {
    text-transform: none !important;
}