<nb-card class="dialog">
    <nb-card-header class="header">
        <nb-icon class="action-icon" icon="settings-2-outline"></nb-icon> {{ title }}
    </nb-card-header>
    <nb-card-body>
        <form class="form" [formGroup]="shuttleForm">
            <nb-tabset class="tabset">
                <nb-tab tabTitle="Sürücü" class="tabTitle">
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Sürücü Adı*:</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Sürücü Adı" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Cep Telefonu*:</label>
                        <div class="col-md-9">
                            <input nbInput fullWidth [textMask]="{mask: mask}" formControlName="phone" placeholder="(555) 555-19-07" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-3 col-form-label">Okullar:</label>
                        <div class="col-md-9">
                            <nb-select class="select" multiple [(selected)]="selectedSchool">
                                <nb-option *ngFor="let s of schools" [value]="s.id">{{ s.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Sürücü Kodu:</label>
                        <div class="col-md-8">
                            <input style="color:#1a2138" type="text" [value]="selectedCode" [disabled]="true" nbInput fullWidth placeholder="Sürücü Kodu*">
                        </div>
                        <div class="col-md-1" style="padding-left:0vh;padding-top:1.5vh">
                            <nb-action (click)="makeid(6)" icon="sync-outline"></nb-action>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Mail Adresi:</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth placeholder="Mail Adresi">
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Araç" class="tabTitle">
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Araç Plakası*:</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth placeholder="Araç Plakası" formControlName="plate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Araç Modeli:</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth placeholder="Araç Modeli" formControlName="model">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Model Yılı:</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth placeholder="Model Yılı" formControlName="modelYear">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="label col-md-3 col-form-label">Araç Kapasitesi:</label>
                        <div class="col-md-9">
                            <input type="text" nbInput fullWidth placeholder="Araç Kapasitesi" formControlName="capacity">
                        </div>
                    </div>
                </nb-tab>
            </nb-tabset>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div style="float:right">
            <button (click)="save()" style="margin-right:10px;text-transform: none;" nbButton size="medium" shape="semi-round">Kaydet</button>
            <button (click)="delete()" style="margin-right:10px;text-transform: none;" nbButton size="medium" shape="semi-round">Sil</button>
            <button (click)="close()" style="text-transform: none;" nbButton size="medium" shape="semi-round">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>