@import '../../../@theme/styles/themes';
@include nb-install-component() {
    .form {
        margin-top: -1rem;
    }
    .dialog {
        width: 90vh;
        height: 70vh;
    }
    .select {
        width: 100%;
        max-width: none;
    }
}