<nb-card *ngIf="title=='Sürücü adı'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen sürücü ismi giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Cep telefonu'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen cep telefonu giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Okul adı'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen okul adı seçiniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Sürücü codu'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen sürücü kodu giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card *ngIf="title=='Araç plakası'">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lütfen araç plakası giriniz!
    </nb-card-body>
    <nb-card-footer>
        <div style="text-align:center"><button nbButton size="medium" shape="semi-round" (click)="dismiss()">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>