<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-12">
                <nb-icon class="action-icon" icon="settings-outline"></nb-icon> Okullar
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <school-report-table></school-report-table>
    </nb-card-body>
</nb-card>