<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6">
                <nb-icon class="action-icon" icon="settings-outline"></nb-icon> Servisler
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <shuttle-report-table></shuttle-report-table>
    </nb-card-body>
</nb-card>